* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#header{
	width: 100%;
	padding: 10px;
	background: #ccc;
	margin-bottom: 20px;
}

#main-page{
	padding:30px;
	margin: 10px;
	background:#f9f9f9;
}

.item-block-section{
	padding:20px;
	background:#ccc;
	width: 100%;
	margin-bottom:10px;
}

.item-block-section.left-section{
	width: 72%;
	float: left;
}
.item-block-section.right-section{
	width: 27%;
	float: right;
}

#footer {

width: 100%;
	padding: 10px;
	background: #ccc;
	margin-bottom: 20px;
	

}